---
import { BLOG_DESCRIPTION, BLOG_TITLE } from "../../config";
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogEntry from "../../components/BlogEntry.astro";

const posts = (await Astro.glob("./*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<BaseLayout title={BLOG_TITLE} description={BLOG_DESCRIPTION}>
  <div class="m-4 sm:mx-16 sm:my-10 lg:mx-32 lg:my-20">
    <h1 class="py-8 text-4xl font-black sm:mx-24 sm:text-5xl lg:mx-40">
      {BLOG_TITLE}
    </h1>
    <p class="text-lg sm:mx-16 sm:text-xl lg:mx-36">
      I like to work on a wide variety of projects. If there is anything that is
      interesting and worth sharing, I will make a small write-up.
    </p>
    <section>
      <ul class="mt-6 sm:mt-12">
        {
          posts.map((post) => (
            <li>
              <BlogEntry
                pubDate={post.frontmatter.pubDate}
                title={post.frontmatter.title}
                description={post.frontmatter.description}
                url={post.url}
              />
            </li>
          ))
        }
      </ul>
    </section>
  </div>
</BaseLayout>
