---
import BlogEntry from "../../components/BlogEntry.astro";
import { BLOG_DESCRIPTION, BLOG_TITLE } from "../../config";
import BaseLayout from "../../layouts/BaseLayout.astro";

const posts = (await Astro.glob("./*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<BaseLayout title={BLOG_TITLE} description={BLOG_DESCRIPTION}>
  <p>blogs</p>
  <section>
    <ul>
      {
        posts.map((post) => (
          <li>
            <BlogEntry
              pubDate={post.frontmatter.pubDate}
              title={post.frontmatter.title}
              url={post.url}
            />
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
