---
import { SITE_DESCRIPTION, SITE_TITLE } from "../config";
import BaseLayout from "../layouts/BaseLayout.astro";
import SemesterEntry from "../components/SemesterEntry.astro";
import { SemesterArray } from "../classes";
import "../styles/global.css";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div
    class="m-6 grid grid-cols-1 gap-2 sm:mx-16 sm:my-12 md:grid-cols-2 lg:mx-32 lg:my-20 xl:gap-10 2xl:mx-80"
  >
    <div class="px-10 pt-10 md:hidden">
      <img class="rounded-2xl object-scale-down" src="/profile-square.jpg" />
    </div>
    <div class="flex flex-col justify-center">
      <h1 class="my-8 text-4xl font-black sm:mx-12 sm:text-5xl lg:mx-16">
        Hi There!
      </h1>
      <p class="lg:mx-18 mb-2 text-lg sm:mx-8 sm:text-xl">
        My name is Alan and I am a student at Purdue University majoring in
        Computer Engineering graduating in Fall 2023.
      </p>
      <p class="lg:mx-18 my-2 text-lg sm:mx-8 sm:text-xl">
        I am passionate about computer systems and security and have contributed
        to various open source software supply chain security projects.
      </p>
      <p class="lg:mx-18 my-2 text-lg sm:mx-8 sm:text-xl">
        I love to learn and always seek to improve myself as a person and
        engineer!
      </p>
    </div>
    <img
      class="hidden rounded-2xl object-scale-down md:block"
      src="/profile-vertical.jpg"
    />
  </div>

  <!-- Experience -->
  <div class="bg-neutral-600 text-neutral-100">
    <div class="mx-6 py-6 sm:mx-16 sm:py-12 lg:mx-32 lg:py-20 2xl:mx-80">
      <h1 class="mb-2 text-4xl font-extrabold sm:mb-6 sm:px-10 md:mb-10">
        More About Me
      </h1>
      <p class="mt-6 text-lg sm:text-xl">
        I work under <a
          class="text-blue-300 no-underline hover:text-blue-200 hover:underline"
          href="https://badhomb.re/">Prof. Santiago Torres-Arias</a
        >
        on a number of research projects, mostly in the space of software supply
        chain security. Namely, I have contributed extensively to the
        <a
          class="text-blue-300 no-underline hover:text-blue-200 hover:underline"
          href="https://in-toto.io/">in-toto</a
        > project and have previously worked on some <a
          class="text-blue-300 no-underline hover:text-blue-200 hover:underline"
          href="https://www.sigstore.dev/">sigstore</a
        > bits that run on the Purdue side. I am also involved in the talks for a
        new project called
        <a
          class="text-blue-300 no-underline hover:text-blue-200 hover:underline"
          href="https://sbomit.dev/">SBOMit</a
        >
        (a specification that combines SBOMs with in-toto metadata for verification)
        and plan to help implement it.
      </p>
      <p class="mt-6 text-lg sm:text-xl">
        I am also the software lead of <a
          class="text-blue-300 no-underline hover:text-blue-200 hover:underline"
          href="https://github.com/Autonomous-Motorsports-Purdue/"
          >Autonomous Motorsports Purdue,</a
        >
        where I lead and mentor a team of undergraduate students passionate about
        robotics to build the software stack for our autonomous kart. This year the
        club hosted the inaugural race for the <a
          class="text-blue-300 no-underline hover:text-blue-200 hover:underline"
          href="https://autonomouskartingseries.com/"
          >Autonomous Karting Series</a
        > at the Purdue Grand Prix Track and placed 2nd!
      </p>
      <p class="mt-6 text-lg sm:text-xl">
        I hail from Cd. Juarez, Mexico, and my favorite food is tacos de lengua.
        Outside of reading and coding, I love to cook and bake on my free time
        (which I very much inherited from my mom). I enjoy the outdoors and I
        bike around when it's not horrible outside!
      </p>
    </div>
  </div>

  <!-- Classes -->
  <div class="bg-neutral-200">
    <div class="mx-6 py-6 sm:mx-16 sm:py-12 lg:mx-32 lg:py-20 2xl:mx-80">
      <h1 class="mb-2 text-4xl font-extrabold sm:mb-6 sm:px-10 md:mb-10">
        Courses Taken
      </h1>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
        {
          SemesterArray.map((s) => (
            <SemesterEntry semester={s.sem}>
              <ul>
                {s.classes.map((c) => (
                  <li>
                    <a
                      class="text-blue-800 no-underline hover:text-blue-600 hover:underline"
                      href={c.link}
                    >
                      {c.name} <b>{c.description}</b>
                    </a>
                  </li>
                ))}
              </ul>
            </SemesterEntry>
          ))
        }
      </div>
    </div>
  </div>
</BaseLayout>
