---
import { SITE_DESCRIPTION, SITE_TITLE } from "../config";
import BaseLayout from "../layouts/BaseLayout.astro";
import SemesterEntry from "../components/SemesterEntry.astro";
import { SemesterArray } from "../classes";
import "../styles/global.css";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div
    class="m-6 grid grid-cols-1 gap-2 sm:mx-16 sm:my-12 md:grid-cols-2 lg:mx-32 lg:my-20 xl:gap-10 2xl:mx-80"
  >
    <div class="px-10 pt-10 md:hidden">
      <img class="rounded-2xl object-scale-down" src="/profile-square.jpg" />
    </div>
    <div class="flex flex-col justify-center">
      <h1 class="my-8 text-4xl font-black sm:mx-12 sm:text-5xl lg:mx-16">
        Hi There!
      </h1>
      <p class="lg:mx-18 mb-2 text-lg sm:mx-8 sm:text-xl">
        My name is Alan, and I am a software engineer working in PKI and
        software supply chain security. I will be joining Keytos in January
        2024.
      </p>
      <p class="lg:mx-18 my-2 text-lg sm:mx-8 sm:text-xl">
        I am passionate about secure software systems. I contribute to various
        software supply chain security projects and seek continuously learn
        about the latest techniques and technologies.
      </p>
      <p class="lg:mx-18 my-2 text-lg sm:mx-8 sm:text-xl">
        I recently graduated from Purdue University in December 2023 majoring in
        Computer Engineering with the Highest Distinction. During my time at
        Purdue, I was part of the Trustworthy Software Ecosystems Lab and
        Autonomous Motorsports Purdue.
      </p>
      <p class="lg:mx-18 my-2 text-lg sm:mx-8 sm:text-xl">
        I love to learn and always seek to improve myself as a person and
        engineer!
      </p>
    </div>
    <img
      class="hidden rounded-2xl object-scale-down md:block"
      src="/profile-vertical.jpg"
    />
  </div>

  <!-- Experience -->
  <div class="bg-neutral-600 text-neutral-100">
    <div class="mx-6 py-6 sm:mx-16 sm:py-12 lg:mx-32 lg:py-20 2xl:mx-80">
      <h1 class="mb-2 text-4xl font-extrabold sm:mb-6 sm:px-10 md:mb-10">
        More About Me
      </h1>
      <p class="mt-6 text-lg sm:text-xl">
        I worked under <a
          class="text-blue-300 no-underline hover:text-blue-200 hover:underline"
          href="https://badhomb.re/">Prof. Santiago Torres-Arias</a
        >
        on several research projects, mainly in software supply chain security. Namely,
        I contribute to the
        <a
          class="text-blue-300 no-underline hover:text-blue-200 hover:underline"
          href="https://in-toto.io/">in-toto</a
        > project and have previously worked on some <a
          class="text-blue-300 no-underline hover:text-blue-200 hover:underline"
          href="https://www.sigstore.dev/">sigstore</a
        > and <a
          class="text-blue-300 no-underline hover:text-blue-200 hover:underline"
          href="https://theupdateframework.io/">TUF</a
        > bits. I am also involved in a new project called
        <a
          class="text-blue-300 no-underline hover:text-blue-200 hover:underline"
          href="https://sbomit.dev/">SBOMit</a
        >. I strongly believe in the above projects' missions and deeply believe
        in <a
          class="text-blue-300 no-underline hover:text-blue-200 hover:underline"
          href="https://ssl.engineering.nyu.edu/personalpages/jcappos/philosophy.htm"
          >Justin Cappos' research philosophy</a
        >, who is also my undergraduate <a
          class="text-blue-300 no-underline hover:text-blue-200 hover:underline"
          href="https://sbomit.dev/">Grand-Advisor</a
        >.
      </p>
      <p class="mt-6 text-lg sm:text-xl">
        I was the Co-President of <a
          class="text-blue-300 no-underline hover:text-blue-200 hover:underline"
          href="https://github.com/Autonomous-Motorsports-Purdue/"
          >Autonomous Motorsports Purdue,</a
        >
        where I led and mentored a team of undergraduate students passionate about
        robotics to build an autonomous kart. In Spring 2023, the club hosted the
        inaugural race for the <a
          class="text-blue-300 no-underline hover:text-blue-200 hover:underline"
          href="https://autonomouskartingseries.com/"
          >Autonomous Karting Series</a
        > at the Purdue Grand Prix Track and placed 2nd!
      </p>
      <p class="mt-6 text-lg sm:text-xl">
        I hail from Mexico, and my favorite food is tacos de lengua. I love to
        meet new people and unapologetically enjoy going out. When I am not
        reading or coding, I love to cook and bake in my free time (which I very
        much picked up from my mom). I have also taken up
        <a
          class="text-blue-300 no-underline hover:text-blue-200 hover:underline"
          href="https://www.instagram.com/alancm.pics/">photography</a
        > as a hobby. I enjoy the outdoors and bike around when it's not so horrible
        outside!
      </p>
      <p class="mt-6 text-lg sm:text-xl">
        I am also a passionate
        <a
          class="text-blue-300 no-underline hover:text-blue-200 hover:underline"
          href="https://purduesports.com/sports/2018/5/17/trads-what-is-boilermaker-html"
          >Boilermaker</a
        >, where my
        <a
          class="text-blue-300 no-underline hover:text-blue-200 hover:underline"
          href="https://purduesports.com/">boilermakers</a
        >
        have been breaking my heart circa 2020.
      </p>
    </div>
  </div>

  <!-- Classes -->
  <div class="bg-neutral-200">
    <div class="mx-6 py-6 sm:mx-16 sm:py-12 lg:mx-32 lg:py-20 2xl:mx-80">
      <h1 class="mb-2 text-4xl font-extrabold sm:mb-6 sm:px-10 md:mb-10">
        Courses Taken
      </h1>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
        {
          SemesterArray.map((s) => (
            <SemesterEntry semester={s.sem}>
              <ul>
                {s.classes.map((c) => (
                  <li>
                    <a
                      class="text-blue-800 no-underline hover:text-blue-600 hover:underline"
                      href={c.link}
                    >
                      {c.name} <b>{c.description}</b>
                    </a>
                  </li>
                ))}
              </ul>
            </SemesterEntry>
          ))
        }
      </div>
    </div>
  </div>
</BaseLayout>
