---
import { PROJECTS_DESCRIPTION, PROJECTS_TITLE } from "../config";
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectEntry from "../components/ProjectEntry.astro";
import { ProjectArray } from "../projects";
---

<BaseLayout title={PROJECTS_TITLE} description={PROJECTS_DESCRIPTION}>
  <div class="m-4 sm:mx-16 sm:my-10 lg:mx-32 lg:my-20">
    <h1 class="py-8 text-4xl font-black sm:mx-24 sm:text-5xl lg:mx-40">
      {PROJECTS_TITLE}
    </h1>
    <p class="text-lg sm:mx-16 sm:text-xl lg:mx-36">
      Here are some of the projects I have worked on. Feel free to reach out if
      you want to collaborate on something!
    </p>

    <section>
      <ul
        class="my-10 mt-6 grid grid-cols-1 gap-2 sm:mx-12 sm:mt-12 md:gap-6 lg:mx-48 xl:grid-cols-2"
      >
        {
          ProjectArray.map((proj) => (
            <ProjectEntry
              title={proj.title}
              description={proj.description}
              url={proj.url}
            />
          ))
        }
      </ul>
    </section>
  </div>
</BaseLayout>
