---
import { getCollection } from "astro:content";
import BasePage from "../layouts/BasePage.astro";
import { SITE_TITLE } from "../consts";
import FormattedDate from "../components/FormattedDate.astro";

const talks = (await getCollection("talks")).sort(
  (a, b) => a.data.orderIdx - b.data.orderIdx,
);
---

<BasePage title=`Talks | ${SITE_TITLE}`>
  <h1 class="text-3xl font-extrabold">Talks</h1>
  {
    talks.map((talk) => (
      <div class="mt-8">
        <h2 class="text-2xl font-bold">{talk.data.title}</h2>
        <p class="my-2 italic">{talk.data.description}</p>
        <ol class="list-disc pl-4 md:list-decimal md:pl-8" reversed>
          {talk.data.talks
            .sort((a, b) => b.date.valueOf() - a.date.valueOf())
            .map((t) => (
              <li class="my-3 w-full">
                <h3 class="text-lg font-semibold">
                  {t.talkLink ? (
                    <a class="underline hover:decoration-2" href={t.talkLink}>
                      {t.title}
                    </a>
                  ) : (
                    t.title
                  )}
                </h3>
                <p class="font-light italic">
                  <FormattedDate class="font-normal not-italic" date={t.date} />
                  {t.cospeakers && `with ${t.cospeakers.join(", ")}`}
                  {t.venue && "at"}
                  {t.venue && t.venueLink ? (
                    <a class="underline hover:decoration-2" href={t.venueLink}>
                      {t.venue}
                    </a>
                  ) : (
                    t.venue
                  )}
                </p>
              </li>
            ))}
        </ol>
      </div>
    ))
  }
</BasePage>
