---
import { getRelativeLocaleUrl } from "astro:i18n";

import { useTranslations } from "../i18n/utils";

import HeaderLink from "./HeaderLink.astro";
import ExternalIconLinks from "./ExternalIconLinks.astro";
import { SITE_TITLE } from "../consts";

const t = useTranslations(Astro.currentLocale);
const locale = Astro.currentLocale ?? "";

const linkHome = getRelativeLocaleUrl(locale, "/");
const linkAbout = getRelativeLocaleUrl(locale, "/about");
// const linkPublications = getRelativeLocaleUrl(locale, "/publications");
const linkTalks = getRelativeLocaleUrl(locale, "/talks");
const linkService = getRelativeLocaleUrl(locale, "/service");
const linkBlog = getRelativeLocaleUrl(locale, "/blog");
---

<header
  class="dark:border-theme-dark-text/15 border-theme-text/15 border-b py-3"
>
  <nav
    class="flex flex-col content-center justify-between px-2 md:mx-auto md:w-3xl md:flex-row"
  >
    <div class="flex flex-1 items-center md:my-auto">
      <a
        class="hover:text-shadow-theme-accent/20 dark:hover:text-shadow-theme-dark-accent/75 my-auto text-lg font-extrabold hover:text-shadow-lg"
        href={linkHome}>{SITE_TITLE}</a
      >
      <button
        class="group mr-2 flex-1 cursor-pointer md:hidden"
        drop-down-toggle
      >
        <svg
          class="ml-auto"
          xmlns="http://www.w3.org/2000/svg"
          height="20px"
          viewBox="260 -680 460 360"
          width="20px"
        >
          <path
            id="dropdownToggleIcon"
            class="fill-theme-text dark:fill-theme-dark-text dark:group-hover:fill-theme-dark-accent group-hover:fill-theme-accent transition-colors"
            d="M480-360 280-559.33h400L480-360Z"></path>
        </svg>
      </button>
    </div>
    <div
      id="pageLinks"
      class="my-6 flex hidden flex-col gap-4 md:my-auto md:flex md:flex-row"
    >
      <HeaderLink href={linkHome}>{t("nav.home")}</HeaderLink>
      <HeaderLink href={linkAbout}>{t("nav.about")}</HeaderLink>
      <!-- <HeaderLink href={linkPublications}>{t("nav.publications")}</HeaderLink> -->
      <HeaderLink href={linkTalks}>{t("nav.talks")}</HeaderLink>
      <HeaderLink href={linkService}>{t("nav.service")}</HeaderLink>
      <HeaderLink href={linkBlog}>{t("nav.blog")}</HeaderLink>
    </div>
    <ExternalIconLinks id="externalIcons" class="my-2 hidden flex-1" />
  </nav>
</header>

<script>
  let showDropdown = false;

  const button = document.querySelector("[drop-down-toggle]");
  button?.addEventListener("click", () => {
    const pageLinks = document.getElementById("pageLinks");
    pageLinks?.classList.toggle("hidden");
    const externalIcons = document.getElementById("externalIcons");
    externalIcons?.classList.toggle("hidden");

    const iconPath = showDropdown
      ? "M480-360 280-559.33h400L480-360Z"
      : "m280-400 200-200.67L680-400H280Z";
    showDropdown = !showDropdown;
    document.getElementById("dropdownToggleIcon")?.setAttribute("d", iconPath);
  });
</script>
