---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate: string;
    updatedDate?: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate },
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="flex flex-col min-h-screen antialiased">
    <Header />
    <main class="flex-grow mx-32 my-20">
      <article>
        <h1 class="text-2xl">{title}</h1>
        <time datetime={pubDate}>
          {
            new Date(pubDate).toLocaleDateString("en-us", {
              year: "numeric",
              month: "short",
              day: "numeric",
            })
          }
        </time>
        {
          updatedDate && (
            <div>
              Last updated on <time>{updatedDate}</time>
            </div>
          )
        }
        <hr class="m-4" />
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
